main {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
}
.sec1 {
  width: 100%;
  position: sticky;
  height: 100vh;
  top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  /* transition: all ease-in-out 0.5s; */
  background-color: var(--bcg-clr);
}
.sec2 {
  width: 100%;
  min-height: 100vh;
  border-left: 1px solid var(--bcg-clr);
}

@media only screen and (max-width: 700px) {
  .sec1 {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    /* transition: all 0.3 ease-in-out; */
    z-index: 99;
    width: 100%;
    height: 100vh;
  }
  .active_sec1 {
    transform: translateX(0);
    position: fixed;
    transition: 0.3s ease-in-out all;
  }
  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}
