@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(41, 40, 40);
  overflow-x: hidden;
}

/* //// scroll bar  */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(99, 99, 99, 0.637);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.to_top_btn {
  position: fixed;
  z-index: 90;
  bottom: 50px;
  right: 50px;
  background-color: limegreen;
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  align-self: center;
  cursor: pointer;
}
.to_top_btn:hover {
  background-color: rgb(16, 235, 16);
}
